@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn span {
  position: absolute;
  color: transparent;
}

.btn-primary {
  background-color: #ff7d1a;
  color: white;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  max-width: 30rem;
}

.container {
  margin: 0 auto;
  width: 75vw;
}

.Navbar {
  padding-block: 0 2rem;
}

.Navbar .container {
  display: flex;
  height: 10rem;
  gap: 5rem;
  border-bottom: 1px solid #b6bcc8;
}

.Navbar .container .nav__links {
  display: flex;
  gap: 3rem;
}

.Navbar .container .nav__links a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #68707d;
  transition: box-shadow 300ms ease, color 300ms ease;
}

.Navbar .container .nav__links a:hover {
  box-shadow: inset 0 -0.3rem 0 0 #ff7d1a;
  color: #1d2025;
}

.Navbar .logo {
  display: flex;
  align-items: center;
}

.Navbar .cart {
  position: relative;
  align-self: center;
  margin-left: auto;
}

.Navbar .cart .cart-icon:hover {
  fill: #1d2025;
}

.Navbar .cart .badge {
  position: absolute;
  top: -0.4rem;
  padding: 0.1rem 0.6rem;
  background: #ff7d1a;
  font-size: 0.9rem;
  border-radius: 5rem;
  color: white;
  right: -0.6rem;
}

.Navbar .user {
  width: 5rem;
  align-self: center;
  border-radius: 10rem;
  display: flex;
  transition: box-shadow 100ms ease-in-out;
}

.Navbar .user:hover {
  box-shadow: 0 0 0 0.2rem #ff7d1a;
  cursor: pointer;
}

.Navbar .user img {
  width: 100%;
}

.Cart {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 5rem;
  display: grid;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 2rem -0.5rem rgba(0, 0, 0, 0.3);
  height: 18rem;
  width: 35rem;
  justify-items: center;
  animation: fadein 300ms ease-in-out;
}

.Cart__header {
  padding-inline: 2rem;
  border-bottom: 1px solid #b6bcc8;
  width: 100%;
}

.Cart__header__title {
  font-size: 1.6rem;
}

.Cart__main {
  padding: 2rem;
  display: grid;
  gap: 1rem;
  width: 100%;
}

.Cart__product {
  width: 100%;
  display: flex;
  align-items: center;
  color: #68707d;
  justify-content: space-between;
}

.Cart__product .product__name {
  font-size: 1.6rem;
  font-weight: 400;
}

.Cart__product-image {
  display: flex;
  width: 5rem;
}

.Cart__product-image img {
  width: 100%;
}

.Cart__product .price strong {
  color: #1d2025;
}

.App {
  display: grid;
  grid-gap: 5rem;
}

.main .container {
  display: flex;
}

.main .container .Gallery .gallery-btn.gallery-btn {
  display: none;
}

.Gallery {
  display: grid;
  grid-gap: 2rem;
}

.Gallery .product__image {
  height: 45rem;
  position: relative;
}

.Gallery .product__image .gallery-btn {
  position: absolute;
  top: 50%;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #1d2025;
}

.Gallery .product__image .gallery-btn:hover {
  stroke: #ff7d1a;
}

.Gallery .product__image .gallery-btn:first-of-type {
  left: 0;
  transform: translate(-50%, -50%);
}

.Gallery .product__image .gallery-btn:first-of-type .toggle-icon {
  transform: translate(-0.3rem);
}

.Gallery .product__image .gallery-btn:last-of-type {
  right: 0;
  transform: translate(50%, -50%);
}

.Gallery .product__image .gallery-btn:last-of-type .toggle-icon {
  transform: translate(0.1rem);
}

.Gallery .product__image img {
  height: 100%;
  border-radius: 2rem;
  cursor: pointer;
}

.Gallery .product__image__thumbnail {
  border-radius: 1rem;
  display: flex;
  position: relative;
  cursor: pointer;
}

.Gallery .product__image__thumbnail::before {
  content: "";
  border-radius: inherit;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Gallery .product__image__thumbnail:hover::before {
  background: rgba(255, 255, 255, 0.5);
}

.Gallery .product__image__thumbnail.active {
  box-shadow: 0 0 0 0.3rem #ff7d1a;
}

.Gallery .product__image__thumbnail.active::before {
  background: rgba(255, 255, 255, 0.7);
}

.Gallery .product__image__thumbnail img {
  width: 100%;
  border-radius: inherit;
}

.Gallery .thumbnails {
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.75);
  gap: 1rem;
  z-index: 5;
}

.overlay .btn {
  transform: translate(1500%);
}

.overlay .btn .close {
  fill: white;
}

.overlay .btn .close:hover {
  fill: #ff7d1a;
}

.overlay .Gallery {
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  z-index: 10;
}

.overlay .Gallery .product__image {
  width: 45rem;
  position: relative;
  height: auto;
}

.overlay .Gallery .product__image img {
  pointer-events: none;
  width: 100%;
}

.overlay .Gallery .product__image__thumbnail {
  width: 8rem;
}

.overlay .Gallery .product__image__thumbnail img {
  width: 100%;
  border-radius: inherit;
}

.overlay .Gallery .thumbnails {
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(-50%, -10%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}
